<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title>入库管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="stylesheet" href="/sdk/sdk.css" />
    <link rel="stylesheet" href="/sdk/helper.css" />
    <link rel="stylesheet" href="/sdk/iconfont.css" />
    <style>
      html,
      body,
      .app-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>

    <div id="root" class="app-wrapper"></div>
    
    <script src="/sdk/sdk.js"></script>
    <script type="text/javascript">
      (function () {
        let amis = amisRequire("amis/embed");
        let amisJSON = {
            "type": "page",
            "data": {
            },
            "body":
            [
                {
                    "type": "nav",
                    "stacked": false,
                    "source": "/api/navs"
                },
                {
                    "type": "form",
                    "title": "入库申请",
                    "api": "post:/api/put/stock",
                    "body":  [
                        {
                            "type": "input-text",
                            "name": "batch_no_in",
                            "required": true,
                            "label": "入库批号"
                        },
                    	{
					        "type": "group",
					        "body": [
						        {
                                    "type": "input-text",
                                    "name": "name",
                                    "label": "货品名称",
                                    "required": true,
                                },
					        	{
                                    "name": "product_type",
                                    "label": "货品类型",
                                    "type": "select",
                                    "required": true,
                                    "options": {
                                        "1": "主材",
                        				"2": "辅材",
                        				"3": "半成品",
                        				"4": "成品",
                                        "5": "鸡货",
                                        "6": "报废品",
                                    },
                                },
                                {
                                    "name": "product_attr",
                                    "label": "货品属性",
                                    "type": "select",
                                    "required": true,
                                    "options": {
                                        "1": "医疗器械",
                        				"2": "非医疗器械",
                                    },
                                },
                               
                                {
                                	"type": "input-text",
                                    "name": "supplier",
                                    "required": true,
                                    "label": "供应商"
                                },
					        ]
					    },
                        {
					        "type": "group",
					        "body": [
					        	{
                                    "type": "input-text",
                                    "name": "model",
                                    "required": true,
                                    "label": "规格型号"
                                },
                                {
                                    "type": "input-text",
                                    "name": "unit",
                                    "required": true,
                                    "label": "单位"
                                },
                                {
                                    "type": "input-number",
                                    "name": "price",
                                    "required": true,
                                    "label": "货品单价(分)"
                                },
                                {
                                    "type": "select",
                                    "name": "way_in",
                                    "label": "入库方式",
                                    "required": true,
                                    "options": {
                                        "1": "客供",
                        				"2": "期初",
                        				"3": "外发",
                        				"4": "外购",
                                    },
                                },
					        ]
					    },
					    {
					        "type": "group",
					        "body": [
                                {
                                    "type": "select",
                                    "name": "location",
                                    "label": "存放仓库",
                                    "required": true,
                                    "options": {
                                        "5301": "5301",
		                                "5302": "5302",
		                                "5402": "5402",
		                                "5403": "5403",
		                                "5404": "5404",
		                                "5405": "5405",
		                                "5406": "5406",
		                                "5407": "5407",
		                                "5408": "5408",
		                                "5409": "5409",
		                                "5410": "5410",
		                                "5411": "5411",
                                    },
                                },
                                {
                                    "type": "input-text",
                                    "name": "batch_no_produce",
                                    "required": true,
                                    "label": "生产批号",
                                },
                                {
                                    "type": "input-date",
                                    "name": "produce_date",
                                    "required": true,
                                    "label": "生产日期",
                                },
                                {
                                    "type": "input-text",
                                    "name": "disinfection_no",
                                    "required": true,
                                    "label": "灭菌批号",
                                },
                            ]
					    },
					    {
					        "type": "group",
					        "body": [
					        	{
                                    "type": "input-date",
                                    "name": "disinfection_date",
                                    "required": true,
                                    "label": "灭菌日期",
                                },
                                {
                                    "type": "input-number",
                                    "name": "stock_num",
                                    "required": true,
                                    "label": "入库数量",
                                },
					        ]
					    }
                    ]
                },
            ]
        }
        let amisScoped = amis.embed("#root", amisJSON);
      })();
    </script>
  </body>
</html>
