<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title>入库管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="stylesheet" href="/sdk/sdk.css" />
    <link rel="stylesheet" href="/sdk/helper.css" />
    <link rel="stylesheet" href="/sdk/iconfont.css" />
    <style>
      html,
      body,
      .app-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>

    <div id="root" class="app-wrapper"></div>
    
    <script src="/sdk/sdk.js"></script>
    <script type="text/javascript">
      (function () {
        let amis = amisRequire("amis/embed");
        let amisJSON = {
            "type": "page",
            "data":
            {
                "nav":
                [
                    {
                        "label": "库存管理",
                        "to": "/view/stock",
                        "icon": "fa fa-boxes-stacked"
                    },
                    {
                        "label": "入库管理",
                        "to": "/view/in",
                        "icon": "fa fa-inbox"
                    },
                    {
                        "label": "出库管理",
                        "to": "/view/out",
                        "icon": "fa fa-right-from-bracket"
                    },
                    {
                        "label": "出库审核",
                        "to": "/view/out_approve",
                        "icon": "fa fa-right-from-bracket"
                    },
                    {
                        "label": "定价管理",
                        "to": "/view/price",
                        "icon": "fa fa-tag"
                    }
                ]
            },
            "body":
            [
                {
                    "type": "nav",
                    "stacked": false,
                    "source": "${nav}"
                },
                {
                    "type": "crud",
                    "api": "/api/instock",
                    "syncLocation": false,
                    "autoGenerateFilter": true,
                    "headerToolbar":
                    [
                        {
                            "label": "入库申请",
                            "type": "button",
                            "align": "left",
                            "actionType": "dialog", // https://aisuda.bce.baidu.com/amis/zh-CN/components/dialog
                            "icon": "",
                            "dialog": {
                                "title": "出库申请",
                                "size": "lg",
                                "body": {
                                    "type": "form", // https://aisuda.bce.baidu.com/amis/zh-CN/components/form/index
                                    "api": "post:/api/put/stock",
                                    "body": [
                                        {
                                            "type": "group",
                                            "body": [
                                                {
                                                    "type": "input-text",
                                                    "name": "name",
                                                    "label": "货品名称",
                                                    "required": true,
                                                },
                                                {
                                                    "name": "product_type",
                                                    "label": "货品类型",
                                                    "type": "select",
                                                    "required": true,
                                                    "options": {
                                                        "1": "主材",
                                                        "2": "辅材",
                                                        "3": "本成品",
                                                        "4": "成品",
                                                        "5": "鸡货",
                                                        "6": "报废品",
                                                    },
                                                },
                                                {
                                                    "name": "product_attr",
                                                    "label": "货品属性",
                                                    "type": "select",
                                                    "required": true,
                                                    "options": {
                                                        "1": "医疗器械",
                                                        "2": "非医疗器械",
                                                        "3": "健康产品",
                                                    },
                                                },
                                               
                                                
                                            ]
                                        },
                                        {
                                            "type": "group",
                                            "body": [
                                                {
                                                    "type": "input-text",
                                                    "name": "supplier",
                                                    "required": true,
                                                    "label": "供应商"
                                                },
                                                {
                                                    "type": "input-text",
                                                    "name": "model",
                                                    "required": true,
                                                    "label": "规格型号"
                                                },
                                                {
                                                    "type": "input-text",
                                                    "name": "unit",
                                                    "required": true,
                                                    "label": "单位"
                                                },
                                            ]
                                        },
                                        {
                                            "type": "group",
                                            "body": [
                                                {
                                                    "type": "input-number",
                                                    "name": "price",
                                                    "required": true,
                                                    "label": "货品单价(分)"
                                                },
                                                {
                                                    "type": "select",
                                                    "name": "way_in",
                                                    "label": "入库方式",
                                                    "required": true,
                                                    "options": {
                                                        "1": "客供",
                                                        "2": "期初",
                                                        "3": "外发",
                                                        "4": "外购",
                                                    },
                                                },
                                                {
                                                    "type": "select",
                                                    "name": "location",
                                                    "label": "存放仓库",
                                                    "required": true,
                                                    "options": {
                                                        "5301": "5301",
                                                        "5302": "5302",
                                                        "5402": "5402",
                                                        "5403": "5403",
                                                        "5404": "5404",
                                                        "5405": "5405",
                                                        "5406": "5406",
                                                        "5407": "5407",
                                                        "5408": "5408",
                                                        "5409": "5409",
                                                        "5410": "5410",
                                                        "5411": "5411",
                                                    },
                                                },
                                                
                                            ]
                                        },
                                        {
                                            "type": "group",
                                            "body": [
                                                {
                                                    "type": "input-text",
                                                    "name": "batch_no_produce",
                                                    "required": true,
                                                    "label": "生产批号",
                                                    "hiddenOn": "this.product_type!=4",
                                                },
                                                {
                                                    "type": "input-date",
                                                    "name": "produce_date",
                                                    "required": true,
                                                    "label": "生产日期",
                                                    "hiddenOn": "this.product_type!=4",
                                                },
                                                {
                                                    "type": "input-text",
                                                    "name": "disinfection_no",
                                                    "required": true,
                                                    "label": "灭菌批号",
                                                    "hiddenOn": "this.product_attr==2 || this.product_type!=4",
                                                },
                                                
                                            ]
                                        },
                                        {
                                            "type": "group",
                                            "body": [
                                                {
                                                    "type": "input-date",
                                                    "name": "disinfection_date",
                                                    "required": true,
                                                    "label": "灭菌日期",
                                                    "hiddenOn": "this.product_attr==2 || this.product_type!=4",
                                                },
                                                {
                                                    "type": "input-number",
                                                    "name": "stock_num",
                                                    "required": true,
                                                    "label": "入库数量",
                                                },
                                            ]
                                        }
                                    ]
                                },
                            }
                        },
                        {
                            "type": "columns-toggler",
                            "align": "left",
                            "draggable": true,
                            "icon": "fas fa-cog",
                            "overlay": true,
                            "footerBtnSize": "sm"
                        }
                    ],
                    "columns":
                    [
                        {
                            "name": "id",
                            "label": "编号",
                        },
                        {
                            "name": "batch_no_in",
                            "label": "入库批号",
                        },
                        {
                            "name": "stock_name",
                            "label": "货品名称",
                        },
                        {
                            "name": "number",
                            "label": "入库数量",
                        },
                        {
                            "name": "application_date",
                            "label": "申请时间",
                            "searchable":
                            {
                                "type": "input-datetime-range",
                                "name": "application_date",
                                "label": "申请时间",
                            }
                        },
                        {
                            "name": "application_user",
                            "label": "申请人",
                            "searchable":
                            {
                                "type": "input-text",
                                "name": "application_user",
                                "label": "申请人",
                            }
                        },
                        // {
                        //     "name": "approve_date",
                        //     "label": "审核时间"
                        // },
                        {
                            "name": "approve_user",
                            "label": "审核人"
                        },
                        {
                            "name": "status",
                            "label": "状态",
                            "type": "mapping",
                            "map": {
                                "1": "<span class='label label-default'>新建</span>",
                                "2": "<span class='label label-info'>待审核</span>",
                                "3": "<span class='label label-success'>审核通过</span>",
                                "4": "<span class='label label-warning'>审核拒绝</span>",
                            },
                            "searchable":
                            {
                                "type": "select",
                                "name": "status",
                                "label": "状态",
                                "options":
                                [
                                    {
                                        "label": "新建",
                                        "value": "1"
                                    },
                                    {
                                        "label": "待审核",
                                        "value": "2"
                                    },
                                    {
                                        "label": "审核通过",
                                        "value": "3",
                                    },
                                    {
                                        "label": "审核拒绝",
                                        "value": "4",
                                    }
                                ]
                            }
                        },
                        {
                            "type": "operation",
                            "label": "操作",
                            "buttons": [
                                {
                                    "label": "审核",
                                    "hiddenOn": "status==3 || status==4",
                                    "type": "button",
                                    "actionType": "dialog",
                                    "icon": "fa-solid fa-person-circle-check",
                                    "dialog": {
                                        "title": "审核结论",
                                        "body":
                                        {
                                            "type": "form",
                                            "api": "post:/api/approvein",
                                            "body":
                                            [
                                                {
                                                    "type": "switch",
                                                    "name": "status",
                                                    "inputClassName": "is-inline",
                                                    "label": "审核结论",
                                                    "onText": "通过",
                                                    "offText": "不通过",
                                                    "trueValue": 1,
                                                    "falseValue": 0
                                                },
                                                {
                                                    "type": "hidden",
                                                    "name": "id",
                                                },
                                                {
                                                    "type": "hidden",
                                                    "name": "batch_no_in",
                                                },
                                            ]
                                        }
                                    }
                                }
                            ]
                        }
                    ],
                }
            ]
        }
        let amisScoped = amis.embed("#root", amisJSON);
      })();
    </script>
  </body>
</html>
