<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title>库存管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="stylesheet" href="/sdk/sdk.css" />
    <link rel="stylesheet" href="/sdk/helper.css" />
    <link rel="stylesheet" href="/sdk/iconfont.css" />
    <style>
      html,
      body,
      .app-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>

    <div id="root" class="app-wrapper"></div>
    
    <script src="/sdk/sdk.js"></script>
    <script type="text/javascript">
      (function () {
        let amis = amisRequire("amis/embed");
        let amisJSON = {
            "type": "page",
            "data": {
            },
            "body":
            [
                {
                    "type": "nav",
                    "stacked": false,
                    "source": "/api/navs"
                },
                {
                    "type": "crud",
                    "api": "/api/home",
                    "syncLocation": false,
                    "autoGenerateFilter": true,
                    "headerToolbar":
                    [
                        {
                            "type": "columns-toggler",
                            "align": "left",
                            "draggable": true,
                            "icon": "fas fa-cog",
                            "overlay": true,
                            "footerBtnSize": "sm"
                        }
                    ],
                    "columns":
                    [
                        {
                            "name": "id",
                            "label": "ID"
                        },
                        {
                            "name": "name",
                            "label": "货品名称",
                            "searchable":
                            {
                                "type": "input-text",
                                "name": "name",
                                "label": "货品名称",
                            }
                        },
                        {
                            "name": "product_type",
                            "label": "货品类型",
                            "type": "mapping",
                            "searchable": {
                                "type": "hidden",
                                "name": "product_type",
                                "label": "货品类型",
                                "value": 4,
                                "options": [
                                    { "label": "主材", "value": "1" },
                                    { "label": "辅材", "value": "2" },
                                    { "label": "半成品", "value": "3" },
                                    { "label": "成品", "value": "4" },
                                    { "label": "鸡货", "value": "5" },
                                    { "label": "报废品", "value": "6" },
                                  ]
                            },
                            "map": {
                                "1": "<span class='label label-info'>主材</span>",
                                "2": "<span class='label label-success'>辅材</span>",
                                "3": "<span class='label label-danger'>半成品</span>",
                                "4": "<span class='label label-warning'>成品</span>",
                                "5": "<span class='label label-default'>鸡货</span>",
                                "6": "<span class='label label-info'>报废品</span>",
                            },
                        },
                        {
                            "name": "product_attr",
                            "label": "货品属性",
                            "type": "mapping",
                            "map": {
                                "1": "<span class='label label-info'>医疗器械</span>",
                                "2": "<span class='label label-info'>非医疗器械</span>",
                                "3": "<span class='label label-info'>健康产品</span>",
                            },
                            "searchable": {
                                "type": "select",
                                "name": "product_attr",
                                "label": "货品属性",
                                "options": [
                                    { "label": "医疗器械", "value": "1" },
                                    { "label": "非医疗器械", "value": "2" },
                                    { "label": "健康产品", "value": "3" },
                                  ]
                            },
                        },
                        {
                            "name": "supplier",
                            "label": "供应商"
                        },
                        {
                            "name": "model",
                            "label": "规格型号"
                        },
                        {
                            "name": "unit",
                            "label": "单位"
                        },
                        {
                            "name": "price",
                            "label": "货品单价"
                        },
                        {
                            "name": "batch_no_in",
                            "label": "入库批号",
                        },
                        {
                            "name": "way_in",
                            "label": "入库方式",
                            "type": "mapping",
                            "map": {
                                "1": "客供",
                                "2": "期初",
                                "3": "外发",
                                "4": "外购",
                            },
                        },
                        {
                            "name": "location",
                            "label": "存放仓库",
                            "searchable":
                            {
                                "type": "input-text",
                                "name": "location",
                                "label": "存放仓库",
                            }
                        },
                        {
                            "name": "batch_no_produce",
                            "label": "生产批号",
                        },
                        {
                            "name": "produce_date",
                            "label": "生产日期",
                            "format": "YYYY-MM-DD",
                            "type": "date",
                            "searchable":
                            {
                                "type": "input-date",
                                "name": "produce_date",
                                "label": "生产日期",
                                "format": "YYYY-MM-DD"
                            }
                        },
                        {
                            "name": "stock_date",
                            "label": "入库时间",
                            "format": "YYYY-MM-DD",
                            "type": "date",
                        },
                        {
                            "name": "stock_num",
                            "label": "入库数量"
                        },
                        {
                            "name": "current_num",
                            "label": "库存数量"
                        },
                        {
                            "name": "value",
                            "label": "当前价值"
                        },
                        {
                            "type": "operation",
                            "label": "操作",
                            "buttons": [
                                {
                                    "label": "修改定价",
                                    // "hiddenOn": "status==3 || status==4",
                                    "type": "button",
                                    "actionType": "dialog",
                                    "icon": "fa-solid fa-person-circle-check",
                                    "dialog": {
                                        "title": "审核结论",
                                        "body":
                                        {
                                            "type": "form",
                                            "api": "post:/api/alterprice",
                                            "body":
                                            [
                                                {
                                                    "type": "hidden",
                                                    "name": "id",
                                                },
                                                {
                                                    "type": "input-number",
                                                    "name": "price",
                                                },
                                            ]
                                        }
                                    }
                                }
                            ]
                        }
                    ],
                }
            ]
        }
        let amisScoped = amis.embed("#root", amisJSON);
      })();
    </script>
  </body>
</html>
