<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title>库存管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="stylesheet" href="/sdk/sdk.css" />
    <link rel="stylesheet" href="/sdk/helper.css" />
    <link rel="stylesheet" href="/sdk/iconfont.css" />
    <style>
      html,
      body,
      .app-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>

    <div id="root" class="app-wrapper"></div>
    
    <script src="/sdk/sdk.js"></script>
    <script type="text/javascript">
      (function () {
        let amis = amisRequire("amis/embed");
        let amisJSON = {
            "type": "page",
            "data":
            {
                "nav":
                [
                    {
                        "label": "库存管理",
                        "to": "/docs/index",
                        "icon": "fa fa-boxes-stacked"
                    },
                    {
                        "label": "入库管理",
                        "to": "/docs/api",
                        "icon": "fa fa-inbox"
                    },
                    {
                        "label": "出库管理",
                        "to": "/docs/renderers",
                        "icon": "fa fa-right-from-bracket"
                    },
                    {
                        "label": "定价管理",
                        "to": "/docs/renderers",
                        "icon": "fa fa-tag"
                    }
                ], },
            "body":
            [
                {
                    "type": "nav",
                    "stacked": false,
                    "source": "${nav}"
                },
                {
                    "type": "crud",
                    "api": "http://127.0.0.1:8080/api/home",
                    "syncLocation": false,
                    "autoGenerateFilter": true,
                    "headerToolbar":
                    [
                        {
                            "label": "新增",
                            "type": "button",
                            "align": "left",
                            "actionType": "dialog",
                            "icon": "fa fa-plus",
                            "dialog": {
                                "type": "form",
                                "api": "post:/amis/api/mock2/sample",
                                "body": [
                                    {
                                        "type": "input-text",
                                        "name": "engine",
                                        "label": "Engine"
                                    },
                                    {
                                        "type": "input-text",
                                        "name": "browser",
                                        "label": "Browser"
                                    }
                                ]
                            }
                        },
                        {
                            "type": "columns-toggler",
                            "align": "left",
                            "draggable": true,
                            "icon": "fas fa-cog",
                            "overlay": true,
                            "footerBtnSize": "sm"
                        }
                    ],
                    "columns":
                    [
                        {
                            "name": "Name",
                            "label": "货品名称",
                            "searchable":
                            {
                                "type": "input-text",
                                "name": "Name",
                                "label": "货品名称",
                            }
                        },
                        {
                            "name": "ProductType",
                            "label": "成品类型",
                            "type": "mapping",
                            "map": {
                                "1": "<span class='label label-info'>原材料</span>",
                                "2": "<span class='label label-success'>成品</span>",
                                "*": "<span class='label label-warning'>其他</span>",
                            },
                            "searchable":
                            {
                                "type": "select",
                                "name": "ProductType",
                                "label": "成品类型",
                                "options":
                                [
                                    { "label": "原材料", "value": "1" },
                                    { "label": "成品", "value": "2" },
                                ]
                            }
                        },
                        {
                            "name": "Type",
                            "label": "货品类型",
                            "type": "mapping",
                            "map": {
                                "1": "其他",
                                "2": "面料",
                                "3": "双面胶",
                                "4": "标签",
                                "5": "胶条",
                                "6": "包材",
                                "7": "纸箱",
                                "8": "口罩",
                                "9": "采样器",
                                "10": "线",
                            },
                            "searchable":
                            {
                                "type": "select",
                                "name": "Type",
                                "label": "货品类型",
                                "options":
                                [
                                    { "label": "其他", "value": "1" },
                                    { "label": "面料", "value": "2" },
                                    { "label": "双面胶", "value": "3" },
                                    { "label": "标签", "value": "4" },
                                    { "label": "胶条", "value": "5" },
                                    { "label": "包材", "value": "6" },
                                    { "label": "纸箱", "value": "7" },
                                    { "label": "口罩", "value": "8" },
                                    { "label": "采样器", "value": "9" },
                                    { "label": "线", "value": "10" },
                                ]
                            }
                        },
                        {
                            "name": "Supplier",
                            "label": "供应商"
                        },
                        {
                            "name": "Model",
                            "label": "规格型号"
                        },
                        {
                            "name": "Unit",
                            "label": "单位"
                        },
                        {
                            "name": "Price",
                            "label": "货品单价"
                        },
                        {
                            "name": "BatchNoIn",
                            "label": "入库批号",
                        },
                        {
                            "name": "WayIn",
                            "label": "入库方式",
                        },
                        {
                            "name": "Location",
                            "label": "存放仓库",
                            "searchable":
                            {
                                "type": "input-text",
                                "name": "Location",
                                "label": "存放仓库",
                            }
                        },
                        {
                            "name": "BatchNoProduce",
                            "label": "生产批号",
                        },
                        {
                            "name": "ProduceDate",
                            "label": "生产日期",
                            "searchable":
                            {
                                "type": "input-date",
                                "name": "ProduceDate",
                                "label": "生产日期",
                                "format": "YYYY-MM-DD"
                            }
                        },
                        {
                            "name": "StockDate",
                            "label": "入库时间"
                        },
                        {
                            "name": "StockNum",
                            "label": "入库数量"
                        },
                        {
                            "name": "CurrentNum",
                            "label": "当前数量"
                        },
                        {
                            "name": "Value",
                            "label": "当前价值"
                        },
                    ],
                }
            ]
        }
        let amisScoped = amis.embed("#root", amisJSON);
      })();
    </script>
  </body>
</html>
